html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.board {
  display: flex;
  flex-direction: column;
  border: 5px solid black;
}

.square {
  height: 60px;
  width: 60px;
}

.row {
  display: flex;
  flex-direction: row;
}

.white {
  background: white;
}

.black {
  background: black;
}

.knight {
 background: url('knight.png');
 background-size: cover;
}
